<div class="header">
    <div *ngIf="listePays.length> 0">
    <input type="text" [(ngModel)]="searchTerm" (input)="filterCountries()" placeholder="Rechercher..."> 
</div>
   <div>
    <button (click)="exportToCSV()">Exporter en CSV</button>
    <button (click)="Openpopup()" mat-raised-button color="primary">Ajouter (+)</button>

</div>
  </div>
<br>
<div class="body">
    <table>
    <thead>
      <tr>
        <th (click)="sortCountries('nom')">Nom <span class="sort-icon">▲</span></th>
        <th (click)="sortCountries('population')">Population (M d'habitants) <span class="sort-icon">▲</span></th>
        <th (click)="sortCountries('superficie')">Superficie (km²)<span class="sort-icon">▲</span></th>
        <th (click)="sortCountries('continent')">Continent <span class="sort-icon">▲</span></th>
        <th (click)="sortCountries('produitInterieurBrut')">Produit Interieur Brut (M €)<span class="sort-icon">▲</span></th>
        <th (click)="sortCountries('image')">Image <span class="sort-icon">▲</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of listeFiltrer" >
          <td [routerLink]="['/details', country.id]">{{ country.nom }}</td>
          <td [routerLink]="['/details', country.id]">{{ country.population }}</td>
          <td [routerLink]="['/details', country.id]">{{ country.superficie }}</td>
          <td [routerLink]="['/details', country.id]">{{ country.continent }}</td>
          <td [routerLink]="['/details', country.id]">{{ country.produitInterieurBrut }}</td>
          <td [routerLink]="['/details', country.id]">{{ country.image }}</td>
          <td><span class="material-icons" (click)="Openpopup(country)">edit</span></td>
        </tr>
      </tbody>
      
  </table>
</div>

  