.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .header input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .header button {
    padding: 8px 16px;
    margin-left: 10px;
  }
  
  .body {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .sort-icon {
    margin-left: 5px;
  }
  
  .material-icons {
    cursor: pointer;
    font-size: 18px;
    color: #2196F3;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  
  button.mat-raised-button {
    background-color: #2196F3;
    color: #ffffff;
  }
  
  input[type="text"] {
    width: 300px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin-left: 10px;
  }
  